[Unit]
Description=Ferm Slave 
After=network.target

[Service]
User=pi
Restart=always
ExecStart=/usr/bin/python3 -u main.py
WorkingDirectory=/opt/Ferm-master
StandardOutput=inherit
StandardError=inherit

--------

[Install]
WantedBy=multi-user.target

